# Dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native build artifacts
ios/
android/

# Environment variables
.env
.env.local
.env.*.local

# Debug logs
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store

